In [3]:
#Import libraries
import sys
import os
import pandas as pd
import mmh3
import numpy as np

We start by defining the necessary functions to get document similarity (week 5 of course exercises).

In [4]:
# create shingle function
def shingles(string:str,q:int):
    split = string.split(' ')
    output = set()
    for i in range(len(split)+1):
        if i < q:
            pass
        else:
            output.add(' '.join(split[i-q:i]))
    return output

#create listhash function
def listhash(l,seeds):
    vals = set()

    for e in l:
        val = 0
        for seed in seeds:
            val = val ^ mmh3.hash(e, seed)
        vals.add(val)
    return vals

#create signatures function
def signatures(docs, q=9, k=20):
    sign = {}
    for key, value in docs.items():
        sign[key] = listhash(shingles(value,q=q),np.arange(k))
    return sign

#create jaccard sim function
def jaccard(doc1, doc2):
    doc1=set(doc1)
    doc2=set(doc2)
    intersect = doc1.intersection(doc2)
    union = doc1.union(doc2)
    return len(intersect) / len(union)
    
#create document sim function
def similarity(docs:dict):
    output = set()
    for key1, value1 in docs.items():
        for key2, value2 in docs.items():
            if key1 == key2:
                pass
            else:
                jac_value = jaccard(value1,value2)
                if jac_value >= 0.6:
                    output.add((key1,key2))
    return output

Load email data!

In [7]:
emails = pd.read_csv('data/spam.csv', encoding='latin')

In [8]:
emails

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN